<!Doctype= html>
<html ng-app="userTimeSheet">

<head>
    <title>TimeSheet_Management</title>

    <!-- <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="./view.css" rel="stylesheet">
    <script src="jquery/jquery-1.11.1.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>&lt;!&ndash; load angular &ndash;&gt;
    <script src="core.js"></script>-->

    <!--<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>--><!-- load jquery -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script type="text/javascript" src="core.js"></script>
    <script type="text/javascript" src="angservice.js"></script>
    <link href="view.css" rel="stylesheet">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>




   <!-- <link rel="stylesheet" href="/resources/demos/style.css">-->
    <script>
        $(function() {
            $( "#datepicker" ).datepicker();
            $( "#startDatepicker" ).datepicker();
            $( "#endDatepicker" ).datepicker();
        });

   </script>
</head>

<body ng-controller="mainController" >

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit TimeSheet</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div>
                        <label for="">Date</label>

                        <input  id="editDatePickerTextBox" type="text"  ng-model="editFormData.Date"  datepicker4/>
                    </div>
                    <div>
                        <label for="">Product/Project/Task</label>
                        <input type="text" name="" value="" ng-model="editFormData.task"/>
                    </div>
                    <div>
                        <label for="">Feature/Sub-Task</label>
                        <input type="text" name="" value=""  ng-model="editFormData.subTask" />
                    </div>
                    <div>
                        <label for="">Assigned By</label>
                        <input type="text" name="" value="" ng-model="editFormData.assignedBy"/>
                    </div>
                    <div>
                        <label for=""> Efforts(Hours)</label>
                        <input type="text" name="" value="" ng-model="editFormData.effortHour"/>
                    </div>
                    <div>
                        <label for="">Start Date</label>
                        <input id="editStartdatePickerTextBox" type="text"    ng-model="editFormData.startDate" datepicker5/>
                    </div>
                    <div>
                        <label for="">End Date</label>
                        <input id="editEnddatePickerTextBox" type="text"    ng-model="editFormData.endDate" datepicker6/>
                    </div>
                    </br>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="updateTimeSheetEntry(editTimesheetId)">Update changes</button>
            </div>
        </div>
    </div>
</div>


<h1 class="main_heading" >TimeSheet Management System</h1>
    <div class="container">
        <div class="col-sm-12 userlist" >
            Select User<select class="user_select" id="userDropDown" ng-model="userModel" ng-change="switchUser(userModel._id)" ng-options="user.UserName for user in users">
            <option value="?" >--Select User--</option>>
            </select>
        </div>
        </br>
        </br>
        </br>
        </br>
        <section class="col-sm-12">
        <form class="timesheetForm" id="timesheetForm" novalidate>
            <div>
                <label for="">Date</label>

                <input  id="datePickerTextBox" type="text"  ng-model="formData.Date" datepicker1 required />
             </div>
            <div>
                <label for="">Product/Project/Task</label>
                <input type="text" name="" value="" ng-model="formData.task" required/>
            </div>
            <div>
                <label for="">Feature/Sub-Task</label>
                <input type="text" name="" value=""  ng-model="formData.subTask" />
            </div>
            <div>
                <label for="">Assigned By</label>
                <input type="text" name="" value="" ng-model="formData.assignedBy"/>
            </div>
            <div>
                    <label for=""> Efforts(Hours)</label>
                    <input type="text" name="" value="" ng-model="formData.effortHour"/>
            </div>
            <div>
                    <label for="">Start Date</label>
                <input id="startdatePickerTextBox" type="text"    ng-model="formData.startDate" datepicker2/>
            </div>
            <div>
                    <label for="">End Date</label>
                <input id="enddatePickerTextBox" type="text"    ng-model="formData.endDate" datepicker3/>
            </div>
            </br>
            <div class="form_button">
                <input type="submit" value="submit" class="form-submit-btn" ng-click="createTodo()"/>
                <button type="button" class="form-reset-btn" ng-click="resetForm()">Reset</button>
            </div>
        </form>
            <br/>
            <br/>
            <br/>
            <br/>
    </section>
    <br/>
    <br/>
        <div class="timesheet-table-container">
        <table class="timesheet_table">
        <tr>
            <th rowspan="2">Date</th>
            <th rowspan="2"> Product/Project/Task</th>
            <th rowspan="2">Feature/Sub-Task</th>
            <th rowspan="2">Assigned By</th>
            <th colspan="3">Actual</th>
            <th rowspan="2">Edit</th>
            <th rowspan="2">Delete</th>
        </tr>
        <tr>
            <th>Efforts(Hours)</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>

        <tr ng-repeat="timesheet in timesheetRes" id={{timesheet._id}} >
            <td>{{timesheet.Date}}</td>
            <td>{{timesheet.ProjectName}}</td>
            <td>{{timesheet.Feature}}</td>
            <td>{{timesheet.Assigned_By}}</td>
            <td>{{timesheet.Effort}}</td>
            <td>{{timesheet.Start_Date}}</td>
            <td>{{timesheet.End_Date}}</td>
            <td><button type="submit" class="btn btn-primary"  ng-click="deleteTimeSheetEntry(timesheet._id,userModel._id)">Delete</button></td>
            <td><button type="submit" class="btn btn-primary" data-toggle="modal"  data-target="#myModal"  ng-click="editTimeSheetEntry(timesheet,userModel._id)">Edit</button></td>
        </tr>



    </table>
    </div>
    <div class="col-sm-12 footer"></div>

</div>
</body>

</html>