<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
     <div class="row">
        <div class="col-md-12" style="background-color:lavender; height: 150px;">Time Sheet Management</div>

    </div>
    <div class="row">
        <div class="col-md-12" style="background-color:white; height:30px">

            Select User<select style="width: 236px;" class="user_select" id="userDropDown" ng-model="userModel" ng-change="switchUser(userModel._id)" ng-options="user.UserName for user in users">
            <option>--Select User--</option>>
        </select>

        </div>

    </div>
    <div class="row">
        <div class="col-md-12" style="background-color:lavender; height: 150px;">Fotter</div>

    </div>
</div>
</body>
</html>